<!-- Start Footer -->
<footer class="simple-footer">
    <div class="social-section">
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://x.com/ddinovate" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Dinovate | All rights are stored to Mia, Gabi, Din, Noam and Sinai</p>
    </div>
</footer>
<!-- End Footer -->