<html>
    <head>
        <link rel="stylesheet" href="/styles/popup.css">
        <link rel="icon" href="/images/logo/Dinovate.png" type="image/x-icon">
    </head>
    <body>

        <div class="modal-overlay" onclick="closePopup(event)">
            <div class="modal-content" onclick="event.stopPropagation()">
                <span class="close-icon" onclick="closePopup(event)">✖</span> <!-- Close icon -->
                
                <h2>Create Store</h2>
                <form id="store-form" onSubmit="createItem('stores')">
                    <div class="input-group">
                        <label for="storeName">Store Name</label>
                        <input type="text" id="storeName" name="storeName" placeholder="Enter store name" required>
                    </div>
                    <div class="input-group">
                        <label for="storeAddress">Store Address</label>
                        <input type="text" id="storeAddress" name="storeAddress" placeholder="Enter store address" required>
                    </div>
                    <div class="input-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required>
                    </div>
                    <div class="input-group">
                        <label for="workingHours">Working Hours</label>
                        <input type="text" id="workingHours" name="workingHours" placeholder="Enter working hours" required>
                    </div>
                    <div class="input-group">
                        <label for="imageLocation">Image Location (URL)</label>
                        <input type="text" id="imageLocation" name="imageLocation" placeholder="Enter image URL" required>
                    </div>
                    <div class="input-group">
                        <label for="image_location">Craete post on Twitter</label>
                        <select id="twitter_post" name="twitter_post" onchange="changeColor(this)">
                            <option value="" disabled selected>Select Option</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <button type="submit" class="submit-button">Create Store</button>
                </form>
            </div>
        </div>

    </body>
</html>
