* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.icon {
    font-size: 48px;
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.input-group input,
.input-group select,
.input-group input[type="date"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-group select,
.input-group input[type="date"]{
    appearance: none; 
    color: #888888;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-button {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.login-button:hover {
    background: linear-gradient(90deg, #0072ff, #00c6ff);
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.signup-text a {
    text-decoration: none;
    color: #0072ff;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}

.error-banner {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    padding: 15px; /* Padding around the text */
    margin-bottom: 20px; /* Space below the banner */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Centered text */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
}